Chameleon==2.16
Mako==1.0.0
MarkupSafe==0.23
PasteDeploy==1.5.2
Pygments==1.6
WebOb==1.4
oscar==0.0
pyramid==1.5.1
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.2
pyramid-mako==1.0.2
repoze.lru==0.6
requests==2.4.2
translationstring==1.1
venusian==1.0
waitress==0.8.9
zope.deprecation==4.1.1
zope.interface==4.1.1
